body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

fieldset {
  border: none;
  padding: 0;
  width: 600px;
  margin: 0 auto;
}

.partial {
  display: inline-block;
  box-sizing: border-box;
}

.one_half {
  width: 50%;
}

.one_tenth {
  width: 10%;
}

.four_tenths {
  width: 40%;
}

.left {
  padding-right: 5px;
}

.right {
  padding-left: 5px;
}

.both {
  padding-right: 5px;
  padding-left: 5px;
}

dl {
  margin-bottom: 0;
}

dl + dl {
  margin-top: 0;
}

dd {
  margin: 0 0 25px 0;
}

[type="text"],
[type="email"],
[type="number"],
textarea {
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  border: solid 1px #cecece;
}

textarea {
  height: auto;
  resize: vertical;
  margin-bottom: 0;
}

dt {
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 14px;
}
