@import url("whitespace-reset.css");

body {
  font: normal 18px "Open Sans", Arial, sans-serif;
  color: #444;
  background: #FFF;
  box-sizing: border-box;
  text-align: center;
}

.tickets h1,
.speakers h1,
.schedule h1,
.location h1 {
  font-size: 48px;
  color: inherit;
  font-weight: 100;
  padding-bottom: 45px;
}

/*navbar*/


nav:before {
  content: "";
  background: #F5F5F5;
  height: 10px;
  width: 100%;
  display: block;
  position: fixed;
}

nav ul {
  list-style-type: none;
  font-size: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: #FFF;
  position: fixed;
  top: 10px;
  border-bottom: 1px solid #EFEFEF;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 0 27px
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

@media all and (max-width: 655px) {
  nav {
    display: none;
  }
}

/*header*/

header {
  background-image: url("images/front.jpg");
  background-repeat: no-repeat;
  background-size: center;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFF;
}

header img {
  display: block;
  margin: 0 auto;
  width: 80px;

}

header h1 {
  font-size: 72px;
  font-weight: 400;
}

header h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
}

/*tickets*/

.tickets {
  text-align: center;
  padding-top: 75px;
}

.tickets p {
  font-weight: 100;
  padding-bottom: 10px;
}

.green_box {
  display: inline-block;
  padding: 10px 26px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  background: #008800;
  margin-bottom: 70px;
}

.green_box:hover {
  background: #006600;
}

/*speakers*/

.speakers {
  border-top: 1px solid #EFEFEF;
  padding-top: 70px;
  padding-bottom: 65px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 380px 380px 380px 380px;
  gap: 12px 15px;
  max-width: 875px;
  margin: 0 auto;
}

.speakers-grid figure {
  width: 282px;
  height: 379px;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
}

.speakers-grid h2 {
  font-size: 24px;
  color: #008800;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}

.speakers-grid p {
  font-weight: 100;
  font-size: 16px;
}

@media all and (max-width: 942px) {
  .speakers-grid {
    grid-template-columns: 282px 282px;
    grid-template-rows: 380px 380px 380px 380px 380px 380px;
    margin: 0 auto;
    max-width: 583px;
  }
}

@media all and (max-width: 586px) {
  .speakers-grid {
    grid-template-columns:282px;
    grid-template-rows: 380px 380px 380px 380px 380px 380px 380px 380px 380px 380px 380px 380px;
    margin: 0 auto;
    max-width: 285px;
  }
}

/*schedule*/

.schedule {
  border-top: 1px solid #EFEFEF;
  padding-top: 70px;
  padding-bottom: 65px;
}

.schedule table {
  max-width: 960px;
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.schedule td:first-child {
  width: 80px;
}

.schedule td:last-child {
  width: 150px;
}

.schedule tr {
  border: solid;
  border-width: 1px 0;
  border-color: #EFEFEF;
}

.schedule time {
  display: block;
  padding: 10px 0;
}

.schedule h2 {
  padding-bottom: 10px;
}

.schedule time,
.schedule h2 {
  font-size: 24px;
  color: inherit;
  font-weight: inherit;
}

.schedule a {
  font-size: 20px;
  color: #008800;
  font-weight: bold;
  text-decoration: none;
}

.schedule a:hover {
  text-decoration: underline;
}

.schedule img {
  width: 130px;
  height: 106px;
  padding: 5px 10px 10px 10px;
}

/*location*/

.location {
  border-top: 1px solid #EFEFEF;
  padding-top: 70px;
  padding-bottom: 55px;
}

.location iframe {
  width: 100%;
  height: 500px;
  margin: 10px 0 35px 0;
  border: none;
}

.location h2 {
  padding-bottom: 10px;
}

.location p {
  font-weight: 100;
  font-size: 16px;
  padding-bottom: 25px
}

.paragraphs {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

/*papers*/

.papers {
  border-top: 1px solid #EFEFEF;
  padding-top: 70px;
  padding-bottom: 65px;
}

/*sponsors*/

/*footer*/